<div>
        <img src = "https://www.interntheory.com/uploads/company/companylogos/77e643bcb14a85c7b5b9635a860be758103039b5/30dbc7dd6fd9d257ce6a08f7675e13a41adfd36ccom.png" width="150" height="75" >
        </div>
        <div class="topnav" id="myTopnav">
          
          <a  id ="two"routerLink="home">Home</a>
          <a  id ="two"routerLink="about">About</a>
          
          
          <a id = "two"routerLink="courses">Courses</a>
          <a id ="one" class ="
          " routerLink="api/login">Login</a>
          <a id ="one" routerLink="api/signup">SignUp</a>
          
          <a  id ="one"class ="active"routerLink="contact">Contact</a>
        </div>
        <router-outlet></router-outlet>